{% extends 'base.html' %}

{% block title %}
Вход
{% endblock %}

{% block body %}
<h1 class="mt-5 mb-4">Авторизация</h1>

<!-- Отображаем сообщение об ошибке, если оно есть -->
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="alert alert-{{ category }} mt-3" role="alert">
            {% for category, message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}

<form action="/sign-in" method="POST">
    <div class="mb-3">
        <label for="login" class="form-label">Логин или Электронная почта</label>
        <input type="text" class="form-control" id="login" name="login" required style="width: 600px; border-radius: 10px; background-color: #fffec4">
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Пароль</label>
        <input type="password" class="form-control" id="password" name="password" required style="width: 600px; border-radius: 10px; background-color: #fffec4">
        <a href="{{ url_for('forgot_password') }}" class="link-secondary">Забыли пароль?</a>
    </div>

    <button type="submit" class="btn btn-primary mt-3">Войти</button>
</form>

<p class="mt-3">У вас нет аккаунта? <a href="{{ url_for('registr') }}">Зарегистрируйтесь</a></p>

{% endblock %}
